# Build and Release Folders
vernalbreeze/bin/
vernalbreeze/bin-debug/
vernalbreeze/bin-release/
vernalbreeze/desktop.ini

eva/bin/
eva/bin-debug/
eva/bin-release/

fireflight/bin/
fireflight/bin-debug/
fireflight/bin-release/

silverbolt/bin/
silverbolt/bin-debug/
silverbolt/bin-release/

experiment/bin/
experiment/bin-debug/
experiment/bin-release/

# Other files and folders
vernalbreeze/.settings/
vernalbreeze.~ml

eva/.settings/
eva.~ml

fireflight/.settings/
firtflight.~ml

silverbolt/.settings/
silverbolt.~ml

mirage/.settings/
mirage.~ml
mirage/bin/
mirage/bin-debug/
mirage/bin-release/

blurr/.settings/
blurr.~ml
blurr/bin/
blurr/bin-debug/
blurr/bin-release/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
