# Build and Release Folders
vernalbreeze/bin/
vernalbreeze/bin-debug/
vernalbreeze/bin-release/

# Other files and folders
vernalbreeze/.settings/
vernalbreeze.~ml

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
